.container {
    -moz-box-shadow: 0 0 16px -6px rgba(0,0,0,0.32);
    -webkit-box-shadow: 0 0 16px -6px rgba(0,0,0,0.32);
    border-radius: 10px;
    box-shadow: 0 0 16px -6px rgba(0,0,0,0.32);
    color: #A8ABAF;
    height: 450px;
    margin: 0 auto;
    margin-top: 40px;
    text-align: center;
    width: 280px;
}

img {
    display: block;
    height: 75%;
    margin: 20px auto;
    padding-top: 20px;
}

button {
    background-color: transparent;
    border: none;
    color: #A8ABAF;
    font-size: 32px;
    margin: 0 10px;
}

button:hover {
    color: #2D86FF;
    cursor: pointer;
}